<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>

<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Boiler Valves
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab"href="#"><i class="icon icon-home2"></i>Boiler Valves</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">

                <div class="col-md-12">

                    <div class="row mt-1" th:if="${message}">
                        <div class="col-md-12">

                            <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} " th:text="${message.text}"></div>
                            <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} " th:text="${message.text}"></div>
                            <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} " th:text="${message.text}"></div>
                            <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} " th:text="${message.text}"></div>
                        </div>
                    </div>


                    <div class="card my-2 no-b">
                        <div class="card-header">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Inspection Results</h5>
                                    <p class="card-text">The print section, will download the pdf report for inspection results. </p>

                                    <a th:href="@{/package/product/pdfreport}" target="_blank" class="btn btn-primary">Print Report</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-title">Details</div>

                            <table id="example2" class="table table-bordered table-hover data-tables"
                                   data-options='{ "paging": false; "searching":false}'>
                                <thead>
                                <tr>
                                    <th>Alpha Numeric</th>
                                    <th>Inspection Date</th>
                                    <th>Boiler Unit</th>
                                    <th>Part Description</th>
                                    <th>Part/Stock No</th>
                                    <th>Part Qty</th>
                                    <th>Inspection Decission</th>
                                    <th>Comments</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="package : ${packages}">
                                    <td th:text="${package.alphaNumeric}"></td>

                                    <td th:text="${T(com.xelttsh.vms.commons.utils.DateUtil).formatDate(package.dateCreated)}"></td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                    <td th:text="${package.valveQuantity}"></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer white">
                            <a th:href="@{/package/product/pdfreport}" target="_blank" class="btn btn-outline-primary btn-xs">Generate Report</a>
                            <a data-toggle="modal" data-target="#quiriesModal" class="btn btn-outline-danger btn-xs">Submit Queries</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>

<div class="modal fade" id="quiriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="subject-name" class="col-form-label">Subject:</label>
                        <input type="text" class="form-control" id="subject-name">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Message:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Send message</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<!--/#app -->
<script src="/js/app.js"></script>


