<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>

<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Products
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab"th:href="@{'/package/home'}"><i class="icon icon-home2"></i>Products</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_SETTINGS.name())">
                            <a class="nav-link" id="v-pills-2-tab" th:href="@{'/package/create'}"><i class="icon icon-plus-circle mb-3"></i>Create</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">

                <div class="col-md-12">
                    <div class="row mt-1" th:if="${message}">
                        <div class="col-md-12">
                            <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} " th:text="${message.text}"></div>
                            <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} " th:text="${message.text}"></div>
                            <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} " th:text="${message.text}"></div>
                            <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} " th:text="${message.text}"></div>
                        </div>
                    </div>


                    <div class="card my-2 no-b">
                        <div class="card-body">
                            <div class="card-title">Details</div>

                            <table id="example2" class="table table-bordered table-hover data-tables"
                                   data-options='{ "paging": false; "searching":false}'>
                                <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Alpha Numeric</th>
                                    <th>Date Created</th>
                                    <th>Status</th>
                                    <th>Service</th>
                                    <th>Valve Type</th>
<!--                                    <th>Sub Total</th>-->
                                    <th>Amount</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="package : ${packages}">
                                    <td th:text="${package.category.name}"></td>
                                    <td th:text="${package.alphaNumeric}"></td>
                                    <td th:text="${T(com.xelttsh.vms.commons.utils.DateUtil).formatDate(package.dateCreated)}"></td>
                                    <td>
                                        <span style="font-weight: bold; color: #0a0a0a" class="badge" th:classappend="${T(com.xelttsh.vms.commons.utils.Util).resolveEntityStatusClasses(package.status)}"  th:text="${package.status}"></span>
                                    </td>
                                    <td th:text="${package.service}"></td>
                                    <td th:text="${package.valveType}"></td>
<!--                                    <td th:text="${package.subTotals}"></td>-->
                                    <td th:text="${package.amount}"></td>

                                    <td>
                                        <a th:href="@{/package/view/( id = ${package.alphaNumeric})}"  data-toggle="tooltip" title="View"><i class="icon-share-square-o text-success"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <p>
                                <span class="badge badge-primary r-20">DRAFT &nbsp; <span class="badge badge-light" th:text="${draftProductsCount}"></span></span>
                                <span class="badge badge-success r-20">ACTIVE &nbsp; <span class="badge badge-light" th:text="${activeProductsCount}"></span></span>
                                <span class="badge badge-warning r-20">DISAPROVED &nbsp; <span class="badge badge-light" th:text="${rejectedProductsCount}"></span></span>
                                <span class="badge badge-danger r-20">DELETED &nbsp; <span class="badge badge-light" th:text="${deletedProductsCount}"></span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
</body>
</html>
<!--/#app -->
<script src="/js/app.js"></script>


