<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org"
              xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Create Package
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link" id="v-pills-1-tab" th:href="@{'/package/home'}">
                                <i class="icon icon-home2"></i>Packages</a>
                        </li>
                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               th:href="@{'/package/create'}"><i class="icon icon-plus-circle mb-3"></i>Update</a>
                        </li>
                        <!--                        <li>-->
                        <!--                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"><i-->
                        <!--                                    class="icon icon-calendar"></i>Trash</a>-->
                        <!--                        </li>-->
                    </ul>
                    <!--                    <a class="btn-fab absolute fab-right-bottom btn-primary" data-toggle="control-sidebar">-->
<!--                        <i class="icon icon-menu"></i>-->
<!--                    </a>-->
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body b-b">
                                    <h4><strong>Capture details</strong></h4>
                                    <form class="form-material" th:action="@{'/package/update'}" th:object="${package}"
                                          method="post">

                                        <input style="display: none" th:field="*{productPackageId}">
                                        <!--<input style="display: none" id="cusId" name="dateCreated"-->
                                               <!--th:field="*{dateCreated}">-->
                                        <input style="display: none" id="sts" name="status" th:field="*{status}">
                                        <input style="display: none" id="grp" name="packageGroup"
                                               th:field="*{packageGroup}">


                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Name</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('packageName')}" th:errors="*{packageName}"></span>
                                                        <input type="text" class="form-control" required th:field="*{packageName}" placeholder="Enter Package Name"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Package Category</label>
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('category')}"
                                                              th:errors="*{category}"></span>
                                                        <!--<input type="text" class="form-control" name="Category"-->
                                                        <!--placeholder="Select Package Category"/>-->
                                                        <select class="form-control" name="productCategoryId" required
                                                                th:field="*{productCategoryId}">
                                                            <option selected value="">Select Package Category</option>
                                                            <option th:each="categoryDTO : ${categoryDTOS}"
                                                                    th:text="${categoryDTO.productCategoryName}"
                                                                    th:value="${categoryDTO.productCategoryId}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Country</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('country')}"
                                                              th:errors="*{country}"></span>
                                                        <select class="form-control" name="countryCode" required
                                                                th:field="*{countryCode}">
                                                            <option selected value="">Select Country</option>
                                                            <option th:each="country : ${countries}"
                                                                    th:text="${country.countryName}"
                                                                    th:value="${country.countryCode}"></option>
                                                        </select>


                                                        <!--<span th:class="error" th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></span>-->
                                                        <!--<select class="form-control" name="countryCode" required th:field="*{status}">-->


                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('beneficiaryMandatory')}"
                                                              th:errors="*{beneficiaryMandatory}"></span>
                                                        <input type="checkbox" class="form-check-inline"
                                                               th:field="*{beneficiaryMandatory}"
                                                               id="beneficiaryMandatory"/>
                                                        <label for="beneficiaryMandatory" class="form-control">Beneficiary
                                                            Mandatory</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Sum Assured</label>
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('sumAssured')}"
                                                              th:errors="*{sumAssured}"></span>
                                                        <input type="number" required step="0.01" min="0.00"
                                                               class="form-control" th:field="*{sumAssured}"
                                                               id="sumAssured"
                                                               placeholder="Enter Package Sum Assured"/>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Package Premium per Member</label>
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('premiumPerMember')}"
                                                              th:errors="*{premiumPerMember}"></span>
                                                        <input type="number" step="0.01" min="0.00" class="form-control"
                                                               th:field="*{premiumPerMember}"
                                                               placeholder="Enter Package Premium per Member"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Grace Period /month</label>
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('gracePeriod')}"
                                                              th:errors="*{gracePeriod}"></span>
                                                        <input type="number" min="0" class="form-control"
                                                               th:field="*{gracePeriod}"
                                                               placeholder="Enter Package Grace period"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Waiting Period /month</label>
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('waitingPeriod')}"
                                                              th:errors="*{waitingPeriod}"></span>
                                                        <input type="number" min="0" required class="form-control"
                                                               th:field="*{waitingPeriod}"
                                                               placeholder="Enter Package Waiting Period"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Initial Commission </label>
                                                        <span th:class="error"
                                                              th:if="${#fields.hasErrors('initialCommission')}"
                                                              th:errors="*{initialCommission}"></span>
                                                        <input type="number" step="0.01" min="0" required
                                                               class="form-control" th:field="*{initialCommission}"
                                                               placeholder="Enter Initial Commission"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">


                                                <div class="row clearfix">
                                                    <div class="col-sm-12">

                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label class="col-form-label">Activation Date</label>
                                                                <span th:class="error"
                                                                      th:if="${#fields.hasErrors('activationDate')}"
                                                                      th:errors="*{activationDate}"></span>
                                                                <input type="text"
                                                                       class="date-time-picker form-control form-control-lg"
                                                                       th:name="activationDate"
                                                                       th:id="activationDate"
                                                                       th:value="${T(com.xelttsh.vms.commons.utils.DateUtil).formatDisplayDate(package.activationDate)}"
                                                                       placeholder="Activation Date"
                                                                       />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row clearfix">
                                                    <div class="col-sm-12">

                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label class="col-form-label">Registration Expiry Date</label>
                                                                <span th:class="error"
                                                                      th:if="${#fields.hasErrors('registrationExpiryDate')}"
                                                                      th:errors="*{registrationExpiryDate}"></span>
                                                                <input type="text"
                                                                       class="date-time-picker form-control form-control-lg"
                                                                       th:name="registrationExpiryDate"
                                                                       th:id="registrationExpiryDate"
                                                                        th:value="${T(com.xelttsh.vms.commons.utils.DateUtil).formatDisplayDate(package.registrationExpiryDate)}"
                                                                       placeholder="Reg Exp Date"
                                                                />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <span th:class="error" th:if="${#fields.hasErrors('currency')}"
                                                              th:errors="*{currency}"></span>
                                                        <!--<input type="text" class="form-control" name="Currency"-->
                                                        <!--placeholder="Select Currency"/>-->
                                                        <label class="col-form-label">Currency</label>
                                                        <select class="form-control" name="currencyCode" required
                                                                th:field="*{currencyCode}">
                                                            <option selected value="">Select Currency</option>
                                                            <option th:each="currency : ${currencies}"
                                                                    th:text="${currency.currencyCode}"
                                                                    th:value="${currency.currencyCode}"></option>
                                                        </select>


                                                        <!--<select class="form-control" name="countryCode" required th:field="*{country.countryCode}">-->
                                                        <!--<option selected value="">Select Country</option>-->
                                                        <!--<option th:each="country : ${countries}"-->
                                                        <!--th:text="${country.countryName}" th:value="${country.countryCode}"></option>-->
                                                        <!--</select>-->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar -->
        <aside th:replace="main/general.html :: control-sidebar">
        </aside>
        <!-- /.right-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
    <!--/#app -->
    <script src="/js/app.js"></script>

    </title>
    </head>
    <body>

    </body>
</html>




