<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="headIncludes">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/basic/favicon.ico" type="image/x-icon">
    <title>VMS Web</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <style>
        .loader {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: #F5F8FA;
            z-index: 9998;
            text-align: center;
        }

        .plane-container {
            position: absolute;
            top: 50%;
            left: 50%;
        }

        accent-3 {
            background-color: #0000A0;
        }
    </style>
    <!-- Js -->
    <!--
    --- Head Part - Use Jquery anywhere at page.
    --- http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/
    -->
    <script>(function (w, d, u) {
        w.readyQ = [];
        w.bindReadyQ = [];

        function p(x, y) {
            if (x == "ready") {
                w.bindReadyQ.push(y);
            } else {
                w.readyQ.push(x);
            }
        };var a = {ready: p, bind: p};
        w.$ = w.jQuery = function (f) {
            if (f === d || f === u) {
                return a
            } else {
                p(f)
            }
        }
    })(window, document)</script>
</head>
<body class="light">
<!-- Pre loader -->
<div id="loader" class="loader" th:fragment="loader">
    <div class="plane-container">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="app">

    <aside class="main-sidebar fixed offcanvas shadow" data-toggle='offcanvas' th:fragment="main-sidebar">
        <section class="sidebar">
            <div class="w-80px mt-3 mb-3 ml-3">
                <img src="/img/dummy/image_icon_o.jpeg" alt="">
            </div>
            <div class="relative">
                <a data-toggle="collapse" href="#userSettingsCollapse" role="button" aria-expanded="false"
                   aria-controls="userSettingsCollapse"
                   class="btn-fab btn-fab-sm absolute fab-right-bottom fab-top btn-primary shadow1 ">
                    <i class="icon icon-cogs"></i>
                </a>
                <div class="user-panel p-3 light mb-2">
                    <div>
                        <div class="float-left image">
                            <img class="user_avatar" th:src="@{/img/dummy/image_icon_o.jpeg}" alt="User Image">
                        </div>
                        <div class="float-left info">
                            <h6 class="font-weight-light mt-2 mb-1"><span sec:authentication="name"></span>

                            </h6>
                            <a href="#"><i class="icon-circle text-primary blink"></i> Online</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="collapse multi-collapse" id="userSettingsCollapse">
                        <div class="list-group mt-3 shadow">
                            <a th:href="@{'/user/view/' + ${session.SESSION_USERNAME}}" class="list-group-item list-group-item-action ">
                                <i class="mr-2 icon-umbrella text-blue"></i>Profile
                            </a>
                            <a href="#" class="list-group-item list-group-item-action"><i
                                    class="mr-2 icon-cogs text-yellow"></i>Settings</a>
                            <a th:href="@{'/changePassword'}" class="list-group-item list-group-item-action"><i
                                    class="mr-2 icon-security text-purple"></i>Change Password</a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header"><strong>Administration</strong></li>
                <li class="treeview1" sec:authorize="isAuthenticated()">
                    <a th:href="@{/}"> <i class="icon icon-sailing-boat-water orange-text s-18"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview" sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_SETTINGS.name())">
                    <a href="#"><i class="icon icon-settings orange-text s-18"></i> Settings <i class="icon icon-angle-left s-18 pull-right"></i> </a>
                    <ul class="treeview-menu">


                        <li class="treeview"><a href="#"><i class="icon icon-circle-o"></i>
                            Parameters <i class="icon icon-angle-left s-18 pull-right"></i> </a>
                            <ul class="treeview-menu">
                                <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).VIEW_PARAMETERS.name())"><a th:href="@{/parameter}"><i class="icon icon-circle-o"></i>Parameters</a>
                                </li>
                                <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).CREATE_PARAMETER.name())"><a th:href="@{/parameter/create}"><i class="icon icon-add"></i>Add Parameter</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
<!--                <li class="treeview" sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_PRODUCT.name())">-->
<!--                    <a href="#"><i class="icon icon-add_shopping_cart orange-text s-18"></i>Product<i class="icon icon-angle-left s-18 pull-right"></i></a>-->
<!--                    <ul class="treeview-menu">-->
<!--                        <li><a th:href="@{/category/home}"><i class="icon icon-circle-o"></i>Category-->
<!--                            <i class="icon icon-angle-left s-18 pull-right"></i></a>-->
<!--                            <ul class="treeview-menu">-->
<!--                                <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).VIEW_CATEGORIES.name())"><a th:href="@{/category/home}"><i class="icon icon-eye"></i>Categories</a>-->
<!--                                </li>-->
<!--                                <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).CREATE_CATEGORY.name())"><a th:href="@{/category/create}"><i class="icon icon-add"></i>Add New</a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                        </li>-->

<!--                        <li><a th:href="@{'/package/home'}"><i class="icon icon-circle-o"></i>Product-->
<!--                            <i class="icon icon-angle-left s-18 pull-right"></i></a>-->
<!--                            <ul class="treeview-menu">-->
<!--                                <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).VIEW_PRODUCTS.name())"><a th:href="@{'/package/home'}"><i class="icon icon-eye"></i>Products</a>-->
<!--                                </li>-->
<!--                                <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).CREATE_PRODUCT.name())"><a th:href="@{'/package/create'}"><i class="icon icon-add"></i>Add New</a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                        </li>-->

<!--                    </ul>-->
<!--                </li>-->


                <li class="treeview" sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_USER.name())">
                    <a href="#"><i class="icon icon-account_box orange-text s-18"></i>Users<i class="icon icon-angle-left s-18 pull-right"></i></a>
                    <ul class="treeview-menu">
                        <!--                        <li><a href="panel-page-users.html"><i class="icon icon-circle-o"></i>All Users</a>-->
                        <!--                        </li>-->
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).CREATE_USER.name())"><a th:href="@{/user/create}"><i class="icon icon-add"></i>Add User</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).SEARCH_USERS.name())"><a th:href="@{/user/search}"><i class="icon icon-user"></i>Search User </a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).VIEW_USERS.name())"><a th:href="@{/user/list}"><i class="icon icon-eye"></i>Users </a>
                        </li>
                    </ul>
                </li>
                <li class="treeview" sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_ROLE.name())">
                    <a href="#"><i class="icon icon-universal-access orange-text s-18"></i>Role<i class="icon icon-angle-left s-18 pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).CREATE_ROLE.name())"><a th:href="@{/role/create}"><i class="icon icon-add"></i>Add Role</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).SEARCH_ROLES.name())"><a th:href="@{/role/search}"><i class="icon icon-user"></i>Search Role </a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).VIEW_ROLES.name())"><a th:href="@{/role/list}"><i class="icon icon-eye"></i>Roles </a>
                        </li>
                    </ul>
                </li>
                <li class="header light mt-3"><strong>Services</strong></li>
                <li class="treeview " sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_BOILER_PLANT.name())">
                    <a href="#">
                        <i class="icon icon-dialpad text-lime orange-text s-18"></i> <span>Boiler Plant Valves</span>
                        <i class="icon icon-angle-left s-18 pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).BOILER_SECTIONS.name())"><a th:href="@{'/boiler/sections'}"><i class="icon icon-circle-o"></i>Sections</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).BOILER_MANAGE.name())"><a th:href="@{'/boiler/home'}"><i class="icon icon-circle-o"></i>Manage</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).SEARCH_BOILER_PLANTS.name())"><a th:href="@{'/boiler/search'}"><i class="icon icon-circle-o"></i>Reports</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview " sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).MENU_TURBINE_PLANT.name())">
                    <a href="#">
                        <i class="icon icon-widgets text-lime orange-text s-18"></i> <span>Turbine Plant Valves</span>
                        <i class="icon icon-angle-left s-18 pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).TURBINE_SECTIONS.name())"><a th:href="@{'/turbine/sections'}"><i class="icon icon-circle-o"></i>Sections</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).TURBINE_MANAGE.name())"><a th:href="@{'/turbine/home'}"><i class="icon icon-circle-o"></i>Manage</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).SEARCH_TURBINE_PLANTS.name())"><a th:href="@{'/turbine/search'}"><i class="icon icon-circle-o"></i>Reports</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
    <!--Sidebar End-->
    <div class="has-sidebar-left" th:fragment="sidebar-left">
        <div class="pos-f-t">
            <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark pt-2 pb-2 pl-4 pr-2">
                    <div class="search-bar">
                        <input class="transparent s-24 text-white b-0 font-weight-lighter w-128 height-50" type="text"
                               placeholder="start typing...">
                    </div>
                    <a href="#" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-expanded="false"
                       aria-label="Toggle navigation" class="paper-nav-toggle paper-nav-white active "><i></i></a>
                </div>
            </div>
        </div>
        <div class="sticky">
            <div class="navbar navbar-expand navbar-dark d-flex justify-content-between bd-navbar blue accent-3">
                <div class="relative">
                    <a href="#" data-toggle="push-menu" class="paper-nav-toggle pp-nav-toggle">
                        <i></i>
                    </a>
                </div>
                <!--Top Menu Start -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown custom-dropdown user user-menu ">
                            <a href="#" class="nav-link" data-toggle="dropdown">
                                <span sec:authentication="name"></span>
                                <i class="icon-more_vert "></i>
                            </a>
                            <div class="dropdown-menu p-4 dropdown-menu-right">
                                <div class="row box justify-content-between my-4">
                                    <div class="col">
                                        <a th:href="@{/logout}">
                                            <i class="icon-sign-out orange accent-1 avatar   r-5"></i>
                                            <div class="pt-1">Logout</div></a>
                                    </div>
                                </div>
<!--                                <div class="row box justify-content-between my-4">-->
<!--                                    <div class="col">-->
<!--                                        <a href="#">-->
<!--                                            <i class="icon-star light-green lighten-1 avatar  r-5"></i>-->
<!--                                            <div class="pt-1">Favourites</div>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col">-->
<!--                                        <a href="#">-->
<!--                                            <i class="icon-save2 orange accent-1 avatar  r-5"></i>-->
<!--                                            <div class="pt-1">Saved</div>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="col">-->
<!--                                        <a href="#">-->
<!--                                            <i class="icon-perm_data_setting grey darken-3 avatar  r-5"></i>-->
<!--                                            <div class="pt-1">Settings</div>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <hr>
                                <div class="row box justify-content-between my-4">
                                    <div class="col">
                                        <a href="#">
                                            <i class="icon-star light-green lighten-1 avatar  r-5"></i>
                                            <div class="pt-1">Favourites</div>
                                        </a>
                                    </div>
                                    <div class="col"><a th:href="@{'/user/view/' + ${session.SESSION_USERNAME}}">
                                        <i class="icon-beach_access pink lighten-1 avatar  r-5"></i>
                                        <div class="pt-1">Profile</div>
                                    </a></div>
                                    <div class="col">
                                        <a href="#">
                                            <i class="icon-perm_data_setting indigo lighten-2 avatar  r-5"></i>
                                            <div class="pt-1">Settings</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <aside class="control-sidebar fixed white " th:fragment="control-sidebar">
        <div class="slimScroll">
            <div class="sidebar-header">
                <h4>Activity List</h4>
                <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle  active"><i></i></a>
            </div>
            <div class="p-3">
                <div>
                    <div class="my-3">
                        <small>25% Complete</small>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;"
                                 aria-valuenow="25"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <small>45% Complete</small>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 45%;" aria-valuenow="45"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <small>60% Complete</small>
                        `
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%;"
                                 aria-valuenow="60"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <small>75% Complete</small>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar bg-danger" role="progressbar" style="width: 75%;"
                                 aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="my-3">
                        <small>100% Complete</small>
                        <div class="progress" style="height: 3px;">
                            <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 bg-primary text-white">
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="font-weight-normal s-14">Sodium</h5>
                        <span class="font-weight-lighter text-primary">Spark Bar</span>
                        <div> Oxygen
                            <span class="text-primary">
                                                    <i class="icon icon-arrow_downward"></i> 67%</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <canvas width="100" height="70" data-chart="spark" data-chart-type="bar"
                                data-dataset="[[28,68,41,43,96,45,100,28,68,41,43,96,45,100,28,68,41,43,96,45,100,28,68,41,43,96,45,100]]"
                                data-labels="['a','b','c','d','e','f','g','h','i','j','k','l','m','n','a','b','c','d','e','f','g','h','i','j','k','l','m','n']">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="recent-orders" class="table table-hover mb-0 ps-container ps-theme-default">
                    <tbody>
                    <tr>
                        <td>
                            <a href="#">INV-281281</a>
                        </td>
                        <td>
                            <span class="badge badge-success">Paid</span>
                        </td>
                        <td>$ 1228.28</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">INV-01112</a>
                        </td>
                        <td>
                            <span class="badge badge-warning">Overdue</span>
                        </td>
                        <td>$ 5685.28</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">INV-281012</a>
                        </td>
                        <td>
                            <span class="badge badge-success">Paid</span>
                        </td>
                        <td>$ 152.28</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">INV-01112</a>
                        </td>
                        <td>
                            <span class="badge badge-warning">Overdue</span>
                        </td>
                        <td>$ 5685.28</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">INV-281012</a>
                        </td>
                        <td>
                            <span class="badge badge-success">Paid</span>
                        </td>
                        <td>$ 152.28</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="sidebar-header">
                <h4>Activity</h4>
                <a href="#" data-toggle="control-sidebar" class="paper-nav-toggle  active"><i></i></a>
            </div>
            <div class="p-4">
                <div class="activity-item activity-primary">
                    <div class="activity-content">
                        <small class="text-muted">
                            <i class="icon icon-user position-left"></i> 5 mins ago
                        </small>
                        <p>Lorem ipsum dolor sit amet conse ctetur which ascing elit users.</p>
                    </div>
                </div>
                <div class="activity-item activity-danger">
                    <div class="activity-content">
                        <small class="text-muted">
                            <i class="icon icon-user position-left"></i> 8 mins ago
                        </small>
                        <p>Lorem ipsum dolor sit ametcon the sectetur that ascing elit users.</p>
                    </div>
                </div>
                <div class="activity-item activity-success">
                    <div class="activity-content">
                        <small class="text-muted">
                            <i class="icon icon-user position-left"></i> 10 mins ago
                        </small>
                        <p>Lorem ipsum dolor sit amet cons the ecte tur and adip ascing elit users.</p>
                    </div>
                </div>
                <div class="activity-item activity-warning">
                    <div class="activity-content">
                        <small class="text-muted">
                            <i class="icon icon-user position-left"></i> 12 mins ago
                        </small>
                        <p>Lorem ipsum dolor sit amet consec tetur adip ascing elit users.</p>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script src="/js/app.js"></script>


<!--
--- Footer Part - Use Jquery anywhere at page.
--- http://writing.colin-gourlay.com/safely-using-ready-before-including-jquery/
-->
<script>(function ($, d) {
    $.each(readyQ, function (i, f) {
        $(f)
    });
    $.each(bindReadyQ, function (i, f) {
        $(d).bind("ready", f)
    })
})(jQuery, document)</script>
</body>

<!-- Mirrored from xvelopers.com/demos/html/paper-panel/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 04 Dec 2019 14:11:02 GMT -->
</html>
