<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Parameter</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this Parameter?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" th:href="@{'/parameter/delete/'+ ${parameter.getParameterId()}}" id="deleteModalButton" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>




<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            View Parameters
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link" id="v-pills-1-tab" th:href="@{'/parameter'}">
                                <i class="icon icon-home2"></i>Parameters</a>
                        </li>
                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               th:href="@{'/parameter/view'}"><i class="icon icon-plus-circle mb-3"></i>View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="row mt-1" th:if="${message}">
            <div class="col-md-12">

                <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} " th:text="${message.text}"></div>
            </div>
        </div>

        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card my-3 no-b">
                            <div class="card-body">
                                <div class="card-title">Details</div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Parameter Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th>Key</th>
                                                <td th:text="${parameter.getKey()}"></td>
                                            </tr>
                                            <tr>
                                                <th>Value</th>
                                                <td th:text="${parameter.getValue()}"></td>
                                            </tr>
                                            <tr>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PARAMETER.name())" th:href="@{'/parameter/update/'+ ${parameter.getParameterId()}}" class="btn btn-primary btn-sm">Update</a>
                                                    <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).DELETE_PARAMETER.name())" data-toggle="modal" data-target="#exampleModal" title="Delete"><i class="btn btn-danger btn-sm">Delete</i></a>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script src="/js/app.js"></script>

