<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Section
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab"th:href="@{'/turbine/sections'}"><i class="icon icon-home2"></i>Sections</a>
                        </li>
                        <li sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).TURBINE_SECTION_CREATE.name())">
                            <a class="nav-link" id="v-pills-2-tab" th:href="@{'/turbine/section/create'}"><i class="icon icon-plus-circle mb-3"></i>Create</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">

                <div class="row mt-1" th:if="${message}">
                    <div class="col-md-12">
                        <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} " th:text="${message.text}"></div>
                        <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} " th:text="${message.text}"></div>
                        <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} " th:text="${message.text}"></div>
                        <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} " th:text="${message.text}"></div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="card my-3 no-b">
                        <div class="card-body">
                            <div class="card-title">Details</div>

                            <table id="example2" class="table table-bordered table-hover data-tables"
                                   data-options='{ "paging": false; "searching":false}'>
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Classification</th>
                                    <th>Date Created</th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="category : ${categories}">
                                    <td th:text="${category.name}"></td>
                                    <td th:text="${category.description}"></td>
                                    <td th:text="${category.plantValveType}"></td>
                                    <td th:text="${T(com.xelttsh.vms.commons.utils.DateUtil).formatDate(category.dateCreated)}"></td>
                                    <td>
                                        <a th:href="@{'/turbine/section/view/'+ ${category.categoryId}}"  data-toggle="tooltip" title="View"><i class="icon-share-square-o text-success"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                        <div class="card-footer">
                            <p>
                                <span class="badge badge-primary r-20">TOTAL &nbsp; <span class="badge badge-light" th:text="${categories?.size()}"></span> </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
</body>
</html>
<!--/#app -->
<script src="/js/app.js"></script>

