<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
              xmlns:th="http://www.thymeleaf.org"
              xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Update Section
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link" id="v-pills-1-tab" th:href="@{'/turbine/sections'}">
                                <i class="icon icon-home2"></i>Sections</a>
                        </li>
                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               th:href="@{'/turbine/section/udate'}"><i class="icon icon-plus-circle mb-3"></i>Update</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="card">
                                <div class="card-body b-b">
                                    <h4><strong>Capture details</strong></h4>
                                    <form class="form-material" th:action="@{'/turbine/section/update'}" th:object="${category}" method="post">

                                        <input style="display: none" name="plantValveType" th:field="*{plantValveType}">
                                        <input style="display: none" name="categoryId" th:field="*{categoryId}">
                                        <!--<input style="display: none" id="cusId" name="dateCreated" th:field="*{dateCreated}">-->


                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Name</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                                        <input type="text" class="form-control" required th:field="*{name}" placeholder="Enter Name"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-sm-12">

                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label class="col-form-label">Description</label>
                                                        <input type="text" class="form-control" th:field="*{description}" placeholder="Enter Description"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar -->
        <aside th:replace="main/general.html :: control-sidebar">
        </aside>
        <!-- /.right-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
    <!--/#app -->
    <script src="/js/app.js"></script>

</div>

</body>

</html>
