<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Documents
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab"th:href="@{'/region/create'}">
                                <i class="icon icon-home2"></i>All Agents</a>
                        </li>
                        <li>
                            <a class="nav-link" id="v-pills-2-tab" th:href="@{'/agent/create'}"><i class="icon icon-plus-circle mb-3"></i>Create</a>
                        </li>
<!--                        <li>-->
<!--                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"><i class="icon icon-calendar"></i>Trash</a>-->
<!--                        </li>-->
                    </ul>
                    <!--                    <a class="btn-fab absolute fab-right-bottom btn-primary" data-toggle="control-sidebar">-->
<!--                        <i class="icon icon-menu"></i>-->
<!--                    </a>-->
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="col-md-10">
                <div class="card my-3 no-b">
                    <div class="card-body">
                        <div class="card-title">Details</div>

                            <table id="example2" class="table table-bordered table-hover data-tables"
                               data-options='{ "paging": false; "searching":false}'>
                                <thead>
                                <tr>
                                    <th>Document name</th>
                                    <th>Document</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="doc : ${document}">
                                    <td th:text="${doc.name}"></td>
                                    <td th:text="${doc.filePath}"></td>
                                </tr>
                                </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script src="/js/app.js"></script>

