<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Update User
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link" id="v-pills-1-tab" th:href="@{'/user/view/'+ ${user.username}}">
                                <i class="icon icon-home2"></i>Search User</a>
                        </li>
                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               th:href="@{'/user/create'}"><i class="icon icon-plus-circle mb-3"></i>Create</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body b-b">
                                    <h4><strong>Capture details</strong></h4>
                                    <form class="form-material" th:action="@{'/user/update'}" th:object="${user}" method="post">
                                        <input style="display: none" id="id" name="id" th:field="*{id}">
                                        <input style="display: none" id="createdBy" name="createdBy" th:field="*{createdBy}">
                                        <input style="display: none" id="status" name="status" th:field="*{status}">

                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label>Username</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
                                                        <input type="text" class="form-control" required th:field="*{username}" placeholder="Username"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label>First Name</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                                                        <input type="text" class="form-control" required th:field="*{firstName}" placeholder="First Name"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Last Name</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                                                        <input type="text" class="form-control" required th:field="*{lastName}" placeholder="Last Name"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Id Number</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"></span>
                                                        <input type="text" class="form-control" required th:field="*{idNumber}" placeholder="Id Number"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Email</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                                        <input type="text" class="form-control" required th:field="*{email}" placeholder="Email"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Phone Number</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('msisdn')}" th:errors="*{msisdn}"></span>
                                                        <input type="text" class="form-control" required th:field="*{msisdn}" placeholder="Phone Number"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Date of Birth</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></span>
                                                        <input type="text" class="form-control date-time-picker" data-options='{"timepicker":false, "format":"Y-m-d"}' required th:field="*{dob}" placeholder="Date of Birth"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Gender</label><br/>
                                                        <span th:class="error" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                                                        <label class="radio-inline">
                                                            Male <input type="radio" name="gender" th:field="*{gender}" th:value="MALE" th:required="true">
                                                        </label><br/>
                                                        <label class="radio-inline">
                                                            Female <input type="radio" name="gender" th:field="*{gender}" th:value="FEMALE" th:required="true">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label >Role</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span>
                                                        <select class="select2" th:field="*{role.id}" required>
                                                            <optgroup label="Select Role">
                                                                <option th:each="r: ${roles}"
                                                                        th:value="${r.id}"
                                                                        th:text="${r.name}"></option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar -->
        <aside th:replace="main/general.html :: control-sidebar">
        </aside>
        <!-- /.right-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
    <!--/#app -->
    <script src="/js/app.js"></script>

