<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            View User
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link" id="v-pills-1-tab" th:href="@{'/user/search'}">
                                <i class="icon icon-home2"></i>Search</a>
                        </li>
                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               href="#"><i class="icon icon-globe mb-3"></i>View</a>
                        </li>

                    </ul>
                </div>
            </div>
        </header>

        <div class="row mt-1" th:if="${message}">
            <div class="col-md-12">

                <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} " th:text="${message.text}"></div>
            </div>
        </div>

        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card my-3 no-b">
                            <div class="card-body">
                                <div class="card-title">Details</div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">User Information</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th>Full Name</th>
                                                <td th:text="${user.firstName}+' '+${user.lastName}"></td>
                                            </tr>
                                            <tr>
                                                <th>Username</th>
                                                <td th:text="${user.username}"></td>
                                            </tr>
                                            <tr>
                                                <th>Date of Birth</th>
                                                <td th:text="${user.dob}"></td>
                                            </tr>
                                            <tr>
                                                <th>Gender</th>
                                                <td th:text="${user.gender}"></td>
                                            </tr>
                                            <tr>
                                                <th>Status</th>
                                                <td>
                                                    <span style="font-weight: bold; color: #0a0a0a" class="badge" th:classappend="${T(com.xelttsh.vms.commons.utils.Util).resolveUserStatusClasses(user.status)}"  th:text="${user.status}"></span>
                                                </td>

                                            </tr>
                                            <tr>
                                                <th>Id Number</th>
                                                <td th:text="${user.idNumber}"></td>

                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td th:text="${user.email}"></td>

                                            </tr>
                                            <tr>
                                                <th>Phone Number</th>
                                                <td th:text="${user.msisdn}"></td>

                                            </tr>
                                            <tr>
                                                <th>Role</th>
                                                <td>
                                                    <span th:text="${user.role.name}"></span>
                                                </td>

                                            </tr>
                                            <tr th:colspan="2"><td>
                                                <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_USER.name())" th:if="${!T(com.xelttsh.vms.commons.enums.Status).DELETED.equals(user.getStatus())}" th:href="@{'/user/update/'+ ${user.username}}" class="btn btn-primary btn-sm">Update</a>
                                            <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).APPROVE_USER.name())" th:if="${!T(com.xelttsh.vms.commons.enums.Status).ACTIVE.equals(user.getStatus())}" th:href="@{'/user/activate/'+ ${user.username}}" class="btn btn-success btn-sm">Activate</a>
                                            <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).RESET_PASSWORD.name())" th:href="@{'/user/reset/'+ ${user.username}}" class="btn btn-primary btn-sm">Reset</a>
                                            <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).REJECT_USER.name())" th:if="${!T(com.xelttsh.vms.commons.enums.Status).INACTIVE.equals(user.getStatus())}" th:href="@{'/user/deactivate/'+ ${user.username}}" class="btn btn-warning btn-sm">Deactivate</a>
                                            <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).DELETE_USER.name())" th:href="@{'/user/delete/'+ ${user.username}}" class="btn btn-danger btn-sm">Delete</a></td></tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
</body>
<!--/#app -->
<script src="/js/app.js"></script>
</html>

