<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Role
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab" href="#" >
                                <i class="icon icon-home2"></i>Search Role</a>
                        </li>
                        <li>
                            <a class="nav-link" id="v-pills-2-tab"
                               th:href="@{'/role/create'}"><i class="icon icon-plus-circle mb-3"></i>Create</a>
                        </li>
                        <!--                        <li>-->
                        <!--                            <a class="nav-link" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3"><i-->
                        <!--                                    class="icon icon-calendar"></i>Trash</a>-->
                        <!--                        </li>-->
                    </ul>
                    <!--                    <a class="btn-fab absolute fab-right-bottom btn-primary" data-toggle="control-sidebar">-->
                    <!--                        <i class="icon icon-menu"></i>-->
                    <!--                    </a>-->
                </div>
            </div>
        </header>
        <div class="row mt-1" th:if="${message}">
            <div class="col-md-12">

                <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} " th:text="${message.text}"></div>
                <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} " th:text="${message.text}"></div>
            </div>
        </div>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body b-b">
                                    <h4><strong>Capture details</strong></h4>
                                    <form class="form-material" th:action="@{'/role/search'}" th:object="${role}" method="post">

                                        <div class="row clearfix">
                                            <div class="col-sm-12">
                                                <div class="form-group form-group-sm">
                                                    <div class="form-line">
                                                        <label>Name</label>
                                                        <span th:class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                                        <input type="text" class="form-control" required th:field="*{name}" placeholder="Name"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar -->
        <aside th:replace="main/general.html :: control-sidebar">
        </aside>
        <!-- /.right-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
    <!--/#app -->
    <script src="/js/app.js"></script>

