<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            View Role
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link" id="v-pills-1-tab" th:href="@{'/role/search'}">
                                <i class="icon icon-home2"></i>Search</a>
                        </li>
                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               href="#"><i class="icon icon-globe mb-3"></i>View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>


        <div class="row mt-1" th:if="${message}">
            <div class="col-md-12">

                <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} "
                     th:text="${message.text}"></div>
                <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} "
                     th:text="${message.text}"></div>
                <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} "
                     th:text="${message.text}"></div>
                <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} "
                     th:text="${message.text}"></div>
            </div>
        </div>


        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card my-3 no-b">
                            <div class="card-body">
                                <div class="card-title">Details</div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">User Information</h3>
                                        <span style="display: none" id="roleIdSpan" th:text="${role.id}"></span>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <th>Role Name</th>
                                                <td th:text="${role.name}"></td>
                                            </tr>
                                            <tr>
                                                <th>Is Role Limited</th>
                                                <td th:text="${role.roleLimited}"></td>
                                            </tr>

                                            <tr>
                                                <th>Description</th>
                                                <td th:text="${role.description}"></td>
                                            </tr>
                                            <tr th:colspan="2">
                                                <td>
<!--                                                    <a th:href="@{'/role/update/'+ ${role.id}}"-->
<!--                                                       class="btn btn-primary btn-sm">Update</a>-->
                                                    <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).DELETE_ROLE.name())" th:href="@{'/role/delete/'+ ${role.id}}"
                                                       class="btn btn-danger btn-sm">Delete</a>
                                                </td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-10">
                        <div class="card my-3 no-b">
                            <div class="card-body">
                                <div class="card-title"><strong>Access Rights</strong></div>

                                <table id="example2" class="table table-bordered table-hover data-tables"
                                       data-options='{ "paging": false; "searching":false}'>
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th style="text-align: center">Can Do</th>
                                        <th></th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="accessRight : ${T(com.xelttsh.vms.commons.enums.security.AccessRight).values()}">
                                        <td th:text="${accessRight}"></td>
                                        <td>
                                            <div class="material-switch float-right">
                                                <input th:checked="${T(com.xelttsh.vms.commons.utils.Util).isRoleSelected(accessRight, role.getAccessRights())}"
                                                       th:onchange="'javascript:canDo(\'' + ${accessRight.ordinal()} + '\');'"
                                                       th:id="${accessRight.ordinal()}" name="canDo" type="checkbox"/>
                                                <label th:for="${accessRight.ordinal()}" class="bg-secondary"></label>
                                            </div>
                                            <!--                                            <a th:href="@{'/role/view/'+ ${role.id}}"  data-toggle="tooltip" title="View"><i class="icon-eye"></i></a>-->
                                        </td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>
<!--/#app -->
<script src="/js/app.js"></script>
<script>
    function canDo(value) {

        if ($('#' + value).is(':checked')) {
            add(value);
        } else {
            remove(value);
        }


    }

    function remove(accessRightOrdinal) {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/role/remove/" + accessRightOrdinal + "/" + $("#roleIdSpan").html(),
            dataType: 'json',
            success: function (data) {

                console.log("In remove accessRight. Response: " + data);
            },
            error: function (e) {
                console.log("In remove accessRight. Error: " + e);
            }
        });

    }

    function add(accessRightOrdinal) {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/role/add/" + accessRightOrdinal + "/" + $("#roleIdSpan").html(),
            dataType: 'json',
            success: function (data) {

                console.log("In add accessRight. Response: " + data);
            },
            error: function (e) {
                console.log("In add accessRight. Error: " + e);
            }
        });

    }
</script>

