<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes">
</head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Create Turbine
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab" href="#">
                                <i class="icon icon-home2"></i>Create</a>
                        </li>

                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body b-b">
<!--                                    <h4><strong>Capture details</strong></h4>-->
                                    <form th:action="@{'/turbine/create'}" th:object="${turbine}" method="post">

                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title"><b>Section 1</b></h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Section</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
                                                                <select class="select2" th:field="*{category}" required>
                                                                    <optgroup label="Select Section">
                                                                        <option th:each="category: ${categoryDTOS}"
                                                                                th:value="${category.getCategoryId()}"
                                                                                th:text="${category.getName()}"></option>
                                                                    </optgroup>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Apha Numeric</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('alphaNumeric')}" th:errors="*{alphaNumeric}"></span>
                                                                <input type="text" class="form-control" required th:field="*{alphaNumeric}" placeholder="Apha Numeric"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>KKSNO</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('kksNo')}" th:errors="*{kksNo}"></span>
                                                                <input type="text" class="form-control" th:field="*{kksNo}" placeholder="KKS NO"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>System</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('system')}" th:errors="*{system}"></span>
                                                                <input type="text" class="form-control" th:field="*{system}" placeholder="System"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Service</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('service')}" th:errors="*{service}"></span>
                                                                <input type="text" class="form-control" th:field="*{service}" placeholder="Service"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-3">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Drawing Number</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('drawingNumber')}" th:errors="*{drawingNumber}"></span>
                                                                <input type="number" class="form-control" th:field="*{drawingNumber}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Valve Type</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('valveType')}" th:errors="*{valveType}"></span>
                                                                <input type="text" class="form-control" th:field="*{valveType}" placeholder="Valve Type"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>NB</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('nb')}" th:errors="*{nb}"></span>
                                                                <input type="number" step="0.01" class="form-control" th:field="*{nb}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>PN</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('pn')}" th:errors="*{pn}"></span>
                                                                <input type="text" class="form-control" th:field="*{pn}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mt-2">
                                            <div class="card-header">
                                                <h4 class="card-title"><b>Section 2</b></h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Design Temperature</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('designTemperature')}" th:errors="*{designTemperature}"></span>
                                                                <input type="text" class="form-control" th:field="*{designTemperature}" placeholder="Design Temperature"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Design Pressure</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('designPressure')}" th:errors="*{designPressure}"></span>
                                                                <input type="text" class="form-control" th:field="*{designPressure}" placeholder="Design Pressure"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Material</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('material')}" th:errors="*{material}"></span>
                                                                <input type="text" class="form-control" th:field="*{material}" placeholder="Material"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Drive</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('drive')}" th:errors="*{drive}"></span>
                                                                <input type="text" class="form-control" th:field="*{drive}" placeholder="Drive"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Type Number</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('typeNumber')}" th:errors="*{typeNumber}"></span>
                                                                <input type="text" class="form-control" th:field="*{typeNumber}" placeholder="Type Number"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Connections</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('connections')}" th:errors="*{connections}"></span>
                                                                <input type="text" class="form-control" th:field="*{connections}" placeholder="Connections"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Make</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('make')}" th:errors="*{make}"></span>
                                                                <input type="text" class="form-control" th:field="*{make}" placeholder="Make"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Sow</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('sow')}" th:errors="*{sow}"></span>
                                                                <input type="text" class="form-control" th:field="*{sow}" placeholder="Sow"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Valve Qty</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('valveQuantity')}" th:errors="*{valveQuantity}"></span>
                                                                <input type="number" class="form-control" th:field="*{valveQuantity}" required/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mt-2 mb-2">
                                            <div class="card-header">
                                                <h4 class="card-title"><b>Section 3</b></h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Rate</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('rate')}" th:errors="*{rate}"></span>
                                                                <input type="number" step="0.01" class="form-control" th:field="*{rate}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Amount</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></span>
                                                                <input type="number" step="0.01" class="form-control" th:field="*{amount}"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Comments</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></span>
                                                                <input type="text" class="form-control" th:field="*{comments}" placeholder="Comments"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row clearfix">
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-sm">
                                                            <div class="form-line">
                                                                <label>Description</label>
                                                                <span th:class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                                                                <input type="text" class="form-control" th:field="*{description}" placeholder="Description"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                                        <a th:href="@{/turbine/home}" class="btn btn-link btn-sm">Cancel</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar -->
        <aside th:replace="main/general.html :: control-sidebar">
        </aside>
        <!-- /.right-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
                 immediately after the control sidebar -->
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
    <!--/#app -->
    <script src="/js/app.js"></script>
</div>
</body>
</html>

