<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            Turbine Valves
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                        <li>
                            <a class="nav-link active" id="v-pills-1-tab" href="#">
                                <i class="icon icon-home2"></i> Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">

                <div class="row my-3">
                <!-- Search Form -->
                <div class="col-md-8">

                    <div class="row mt-1" th:if="${message}">
                        <div class="col-md-12">
                            <div role="alert" class="alert"
                                 th:classappend="${T(com.xelttsh.vms.commons.utils.Util).resolveAlertMessageTypeClasses(message.type)}"
                                 th:text="${message.text}"></div>
                        </div>
                    </div>

                    <div class="card my-3 shadow no-b r-0">
                        <div class="card-header white">
                            <h6>
                                Report
                            </h6>
                        </div>
                        <div class="card-body">
                            <form class="form-material" th:action="@{'/turbine/search'}" th:object="${search}" method="post">
<!--                                <input hidden th:value="${T(com.xelttsh.vms.commons.enums.PlantValveType).TURBINE.name()}" name="type" th:field="*{type}">-->
                                <div class="form-row">
                                    <div class="col-md-4 mb-3">
                                        <label for="alphaNumeric">Alpha Numeric</label>
                                        <input type="text" class="form-control" id="alphaNumeric"
                                               th:field="*{alphaNumeric}" placeholder="Enter alpha numeric">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="valveType">Valve Type</label>
                                        <input type="text" class="form-control" id="valveType"
                                               th:field="*{valveType}" placeholder="Enter valve type">
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="service">Service</label>
                                        <input type="text" class="form-control" id="service"
                                               th:field="*{service}" placeholder="Enter service">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 mb-3">
                                        <label for="dateFrom">From</label>
                                        <input type="datetime-local" class="form-control" id="dateFrom"
                                               th:field="*{dateFrom}">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="dateTo">To</label>
                                        <input type="datetime-local" class="form-control" id="dateTo"
                                               th:field="*{dateTo}">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- #END# Search form -->

                <div class="col-md-4">
                    <h3>Report</h3>
                    <hr>
                    <p>Search by alpha numeric. The results then generate the inspection report pdf.</p>
                    <a data-toggle="modal" data-target="#samplePdfModal" class="btn btn-xs btn-primary">Sample PDF</a>
                    <a data-toggle="modal" data-target="#sampleJSONModal" class="btn btn-outline-primary btn-xs">Sample JSON</a>
                </div>
                </div>


            </div>
        </div>
    </div>
    <!-- Right Sidebar -->
    <aside th:replace="main/general.html :: control-sidebar">
    </aside>
    <!-- /.right-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
    <div class="control-sidebar-bg shadow white fixed"></div>
</div>

<div class="modal fade" id="samplePdfModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sample PDF</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <img src="/documents/sample-page-001.jpg">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="sampleJSONModal" tabindex="-1" role="dialog" aria-labelledby="sampleJSONLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sampleJSONLabel">Sample JSON</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <img src="/documents/samplejson.pdf">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
<!--/#app -->
<script src="/js/app.js"></script>

