<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="main/general.html :: headIncludes"></head>
<!--Delete Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete this?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a type="button" th:href="@{'/turbine/delete/'+ ${package.alphaNumeric}}" id="deleteModalButton"
                   class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>

<!--End Delete Modal -->

<!--Edit Gasket Modal -->
<div class="modal fade" id="updateGasketModal" tabindex="-1" role="dialog" aria-labelledby="updateGasketModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateGasketModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Gasket Size</label>
                                                <input type="text" class="form-control" name="gasketSize" id="gasketSizeInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Gasket Style</label>
                                                <input type="text" class="form-control" name="gasketStyle" id="gasketStyleInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Gasket Make</label>
                                                <input type="text" class="form-control" name="gasketMake" id="gasketMakeInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveGasketUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Gasket Modal -->

<!--Edit Stuffing Box Modal -->
<div class="modal fade" id="updateStuffingBoxModal" tabindex="-1" role="dialog" aria-labelledby="updateStuffingBoxModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateStuffingBoxModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Stuffing box depth</label>
                                                <input type="text" class="form-control" name="stuffingBoxDepth" id="stuffingBoxDepthInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Stuffing box diameter</label>
                                                <input type="text" class="form-control" name="stuffingBoxDiameter" id="stuffingBoxDiameterInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveStuffingBoxUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Stuffing Box Modal -->

<!--Edit Spindle Modal -->
<div class="modal fade" id="updateSpindleModal" tabindex="-1" role="dialog" aria-labelledby="updateSpindleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSpindleModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Spindle length</label>
                                                <input type="text" class="form-control" name="spindleLength" id="spindleLengthInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Spindle diameter</label>
                                                <input type="text" class="form-control" name="sprindleDiameter" id="sprindleDiameterInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveSpindleUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Spindle Modal -->


<!--Edit Spindle Run Out Modal -->
<div class="modal fade" id="updateSpindleRunOutModal" tabindex="-1" role="dialog" aria-labelledby="updateSpindleRunOutModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSpindleRunOutModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Bush ID</label>
                                                <input type="text" class="form-control" name="sprindleRunOutBushID" id="sprindleRunOutBushIDInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Bush OD</label>
                                                <input type="text" class="form-control" name="sprindleRunOutBushOD" id="sprindleRunOutBushODInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Back Stop</label>
                                                <input type="text" class="form-control" name="sprindleRunOutBackStop" id="sprindleRunOutBackStopInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveSpindleRunOutUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Spindle Run Out Modal -->



<!--Edit Pressure Gasket Modal -->
<div class="modal fade" id="updatePressureGasketModal" tabindex="-1" role="dialog" aria-labelledby="updatePressureGasketModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePressureGasketModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >ID</label>
                                                <input type="text" class="form-control" name="pressureGasketID" id="pressureGasketIDInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >OD</label>
                                                <input type="text" class="form-control" name="pressureGasketOD" id="pressureGasketODInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Internal Taper</label>
                                                <input type="text" class="form-control" name="pressureGasketInternalTaper" id="pressureGasketInternalTaperInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >External Taper</label>
                                                <input type="text" class="form-control" name="pressureGasketExternalTaper" id="pressureGasketExternalTaperInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="savePressureGasketUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Pressure Gasket Modal -->



<!--Edit Pressure Gasket Modal -->
<div class="modal fade" id="updateGlandPackagingModal" tabindex="-1" role="dialog" aria-labelledby="updateGlandPackingModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateGlandPackagingModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Size</label>
                                                <input type="text" class="form-control" name="glandPackagingSize" id="glandPackagingSizeInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Style</label>
                                                <input type="text" class="form-control" name="glandPackagingStyle" id="glandPackagingStyleInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Make</label>
                                                <input type="text" class="form-control" name="glandPackagingMake" id="glandPackagingMakeInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveGlandPackagingUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Gland Packaging Modal -->

<!--Edit General Modal -->
<div class="modal fade" id="updateGeneralModal" tabindex="-1" role="dialog" aria-labelledby="updateGeneralModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateGeneralModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form >
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >KKSNO</label>
                                                <input type="text" class="form-control" name="kksNo" id="kksNoInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >System</label>
                                                <input type="text" class="form-control" name="system" id="systemInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Service</label>
                                                <input type="text" class="form-control" name="service" id="serviceInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Drawing Number</label>
                                                <input type="text" class="form-control" name="drawingNumber" id="drawingNumberInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >PN</label>
                                                <input type="text" class="form-control" name="pn" id="pnInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label>NB</label>
                                                <input type="text" class="form-control" name="nb" id="nbInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveGeneralUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit General Modal -->

<!--Edit Specific Modal -->
<div class="modal fade" id="updateSpecificModal" tabindex="-1" role="dialog" aria-labelledby="updateSpecificModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSpecificModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Design Temperature</label>
                                                <input type="text" class="form-control" name="designTemperature" id="designTemperatureInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Design Pressure</label>
                                                <input type="text" class="form-control" name="designPressure" id="designPressureInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Material</label>
                                                <input type="text" class="form-control" name="material" id="materialInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Drive</label>
                                                <input type="text" class="form-control" name="drive" id="driveInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Connections</label>
                                                <input type="text" class="form-control" name="connections" id="connectionsInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label>Make</label>
                                                <input type="text" class="form-control" name="make" id="makeInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label>Sow</label>
                                                <input type="text" class="form-control" name="sow" id="sowInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label>Valve Quantity</label>
                                                <input type="number" min="0.01" class="form-control" name="valveQuantity" id="valveQuantityInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveSpecificUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Specific Modal -->

<!--Edit Summation Modal -->
<div class="modal fade" id="updateSummationModal" tabindex="-1" role="dialog" aria-labelledby="updateSummationModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSummationModalLabel">Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body b-b">

                        <form>
                            <!-- Input -->
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Rate</label>
                                                <input type="number" min="0.01" class="form-control" name="rate" id="rateInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Amount</label>
                                                <input type="number" min="0.01" class="form-control" name="amount" id="amountInput">

                                        </div>
                                    </div>
                                </div>
<!--                                <div class="row clearfix">-->
<!--                                    <div class="col-sm-12">-->
<!--                                        <div class="form-group-sm">-->
<!--                                                <label >Sub Totals</label>-->
<!--                                                <input type="number" min="0.01" class="form-control" name="subTotals" id="subTotalsInput">-->

<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Comments</label>
                                                <input type="text" class="form-control" name="comments" id="commentsInput">

                                        </div>
                                    </div>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-sm-12">
                                        <div class="form-group-sm">
                                                <label >Description</label>
                                                <input type="text" class="form-control" name="description" id="descriptionInput">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveSummationUpdate"
                   class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<!--End Edit Specific Modal -->

<body class="light">
<!-- Pre loader -->
<div th:replace="main/general.html :: loader"></div>
<div id="app">
    <aside th:replace="main/general.html :: main-sidebar" data-toggle='offcanvas'></aside>
    <!--Sidebar End-->
    <div th:replace="main/general.html :: sidebar-left"></div>
    <div class="page has-sidebar-left height-full">
        <header class="blue accent-3 relative nav-sticky">
            <div class="container-fluid text-white">
                <div class="row p-t-b-10 ">
                    <div class="col">
                        <h4>
                            <i class="icon-box"></i>
                            View Turbine
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">

                        <li>
                            <a class="nav-link active" id="v-pills-2-tab"
                               href="#"><i class="icon icon-plus-circle mb-3"></i>View</a>
                        </li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid relative animatedParent animateOnce">
            <div class="tab-content pb-3" id="v-pills-tabContent">
                <div class="row mt-1" th:if="${message}">
                    <div class="col-md-12">

                        <div role="alert" class="alert alert-danger" th:if="${message.type.name() == 'ERROR'} "
                             th:text="${message.text}"></div>
                        <div role="alert" class="alert alert-info" th:if="${message.type.name() == 'INFO'} "
                             th:text="${message.text}"></div>
                        <div role="alert" class="alert alert-success" th:if="${message.type.name() == 'SUCCESS'} "
                             th:text="${message.text}"></div>
                        <div role="alert" class="alert alert-warning" th:if="${message.type.name() == 'WARNING'} "
                             th:text="${message.text}"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card my-3 no-b">
                            <div class="card-body">
<!--                                <div class="card-title">Details</div>-->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Information</h3>
                                        <span id="alphaNumericSpan" style="display: none" th:text="${package.alphaNumeric}"></span>
                                    </div>
                                    <div class="panel-body">
                                        <style>
                                            .nav-pills-custom .nav-link-custom {
                                                 border-radius: 0.0rem;
                                                border-color: black;
                                            }
                                            .nav-link-custom {
                                                display: block;
                                                padding: .5rem 1rem;
                                                border-right: 1px solid #ddd;
                                                border-left: 1px solid #ddd;
                                                border-bottom: 1px solid #ddd;
                                                border-top: 1px solid #ddd;
                                                /*border-top-color: transparent;*/
                                                border-radius: 0px;
                                            }
                                        </style>


                                        <div class="row my-3">
                                            <div class="col-md-12">
                                                <div class="card no-b">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-3">
                                                                <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab1" role="tablist" aria-orientation="vertical">
                                                                    <a class="nav-link nav-link-custom active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">General</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Specific</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Summation</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-gasket-tab" data-toggle="pill" href="#v-pills-gasket" role="tab" aria-controls="v-pills-gasket" aria-selected="false">Gasket</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-stuffing-box-tab" data-toggle="pill" href="#v-pills-stuffing-box" role="tab" aria-controls="v-pills-stuffing-box" aria-selected="false">Stuffing Box</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-spindle-tab" data-toggle="pill" href="#v-pills-spindle" role="tab" aria-controls="v-pills-spindle" aria-selected="false">Spindle</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-spring-run-out-tab" data-toggle="pill" href="#v-pills-spindle-run-out" role="tab" aria-controls="v-pills-spindle-run-out" aria-selected="false">Spindle Run Out</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-pressure-gasket-tab" data-toggle="pill" href="#v-pills-pressure-gasket" role="tab" aria-controls="v-pills-pressure-gasket" aria-selected="false">Pressure Gasket</a>
                                                                    <a class="nav-link nav-link-custom" id="v-pills-gland-packaging-tab" data-toggle="pill" href="#v-pills-gland-packaging" role="tab" aria-controls="v-pills-gland-packaging" aria-selected="false">Gland Packaging</a>
                                                                </div>
                                                            </div>
                                                            <div class="col-9">
                                                                <div class="tab-content">
                                                                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                                        <table class="table table-striped table-hover">
                                                                            <tr>
                                                                                <th>Section</th>
                                                                                <td th:text="${package.category.name}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Apha Number</th>
                                                                                <td th:text="${package.alphaNumeric}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>KKSNO</th>
                                                                                <td id="kksNoTd" th:text="${package.kksNo}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Status</th>
                                                                                <td>
                                                                                    <span style="font-weight: bold; color: #0a0a0a" class="badge"
                                                                                          th:classappend="${T(com.xelttsh.vms.commons.utils.Util).resolveEntityStatusClasses(package.status)}"
                                                                                          th:text="${package.status}"></span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Date Created</th>
                                                                                <td th:text="${T(com.xelttsh.vms.commons.utils.DateUtil).formatDate(package.dateCreated)}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>System</th>
                                                                                <td id="systemTd" th:text="${package.system}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Service</th>
                                                                                <td id="serviceTd" th:text="${package.service}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Drawing Number</th>
                                                                                <td id="drawingNumberTd" th:text="${package.drawingNumber}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Valve Type</th>
                                                                                <td id="valveTypeTd" th:text="${package.valveType}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>NB</th>
                                                                                <td id="nbTd" th:text="${package.nb}"></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>PN</th>
                                                                                <td id="pnTd" th:text="${package.pn}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateGeneralButton"
                                                                                       class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Design Temperature</th>
                                                                                <td id="designTemperatureTd" th:text="${package.designTemperature}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Design Pressure</th>
                                                                                <td id="designPressureTd" th:text="${package.designPressure}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Material</th>
                                                                                <td id="materialTd" th:text="${package.material}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Drive</th>
                                                                                <td id="driveTd" th:text="${package.drive}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Connections</th>
                                                                                <td id="connectionsTd" th:text="${package.connections}"></td>
                                                                            </tr>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Make</th>
                                                                                <td id="makeTd" th:text="${package.make}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Sow</th>
                                                                                <td id="sowTd" th:text="${package.sow}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Valve Quantity</th>
                                                                                <td id="valveQuantityTd" th:text="${package.valveQuantity}"></td>
                                                                            </tr>

                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateSpecificButton"
                                                                                       class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Rate</th>
                                                                                <td id="rateTd" th:text="${package.rate}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Amount</th>
                                                                                <td id="amountTd" th:text="${package.amount}"></td>
                                                                            </tr>

<!--                                                                            <tr>-->
<!--                                                                                <th>Sub Total</th>-->
<!--                                                                                <td id="subTotalsTd" th:text="${package.subTotals}"></td>-->
<!--                                                                            </tr>-->

                                                                            <tr>
                                                                                <th>Comments</th>
                                                                                <td id="commentsTd" th:text="${package.comments}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Description</th>
                                                                                <td id="descriptionTd" th:text="${package.description}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateSummationButton"
                                                                                       class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-gasket" role="tabpanel" aria-labelledby="v-pills-gasket-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Size</th>
                                                                                <td id="gasketSizeTd" th:text="${package?.gasket?.gasketSize}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Style</th>
                                                                                <td id="gasketStyleTd" th:text="${package?.gasket?.gasketStyle}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Make</th>
                                                                                <td id="gasketMakeTd" th:text="${package?.gasket?.gasketMake}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateGasketButton" href="#" class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-stuffing-box" role="tabpanel" aria-labelledby="v-pills-stuffing-box-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Depth</th>
                                                                                <td id="stuffingBoxDepthTd" th:text="${package?.stuffingBox?.stuffingBoxDepth}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Diameter</th>
                                                                                <td id="stuffingBoxDiameterTd" th:text="${package?.stuffingBox?.stuffingBoxDiameter}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateStuffingBoxButton" href="#" class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-spindle" role="tabpanel" aria-labelledby="v-pills-spindle-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Length</th>
                                                                                <td id="spindleLengthTd" th:text="${package?.spindle?.spindleLength}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Diameter</th>
                                                                                <td id="sprindleDiameterTd" th:text="${package?.spindle?.sprindleDiameter}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateSpindleButton" href="#" class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-spindle-run-out" role="tabpanel" aria-labelledby="v-pills-spindle-run-out-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Bush ID</th>
                                                                                <td id="sprindleRunOutBushIDTd" th:text="${package?.spindleRunOut?.sprindleRunOutBushID}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Bush OD</th>
                                                                                <td id="sprindleRunOutBushODTd" th:text="${package?.spindleRunOut?.sprindleRunOutBushOD}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Back Stop</th>
                                                                                <td id="sprindleRunOutBackStopTd" th:text="${package?.spindleRunOut?.sprindleRunOutBackStop}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateSpindleRunOutButton" href="#" class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-pressure-gasket" role="tabpanel" aria-labelledby="v-pills-pressure-gasket-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>OD</th>
                                                                                <td id="pressureGasketODTd" th:text="${package?.pressureGasket?.pressureGasketOD}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>ID</th>
                                                                                <td id="pressureGasketIDTd" th:text="${package?.pressureGasket?.pressureGasketID}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Internal Taper</th>
                                                                                <td id="pressureGasketInternalTaperTd" th:text="${package?.pressureGasket?.pressureGasketInternalTaper}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>External Taper</th>
                                                                                <td id="pressureGasketExternalTaperTd" th:text="${package?.pressureGasket?.pressureGasketExternalTaper}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updatePressureGasketButton" href="#" class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                    <div class="tab-pane fade" id="v-pills-gland-packaging" role="tabpanel" aria-labelledby="v-pills-gland-packaging-tab">
                                                                        <table class="table table-striped table-hover">

                                                                            <tr>
                                                                                <th>Size</th>
                                                                                <td id="glandPackagingSizeTd" th:text="${package?.glandPackaging?.glandPackagingSize}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Style</th>
                                                                                <td id="glandPackagingStyleTd" th:text="${package?.glandPackaging?.glandPackagingStyle}"></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Make</th>
                                                                                <td id="glandPackagingMakeTd" th:text="${package?.glandPackaging?.glandPackagingMake}"></td>
                                                                            </tr>
                                                                            <tr sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).UPDATE_PRODUCT.name())">
                                                                                <th></th>
                                                                                <td>
                                                                                    <a id="updateGlandPackagingButton" href="#" class="btn btn-primary btn-sm">Update</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card no-b shadow  mt-3 mb-3">
                            <div class="card-body">
                                <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).APPROVE_PRODUCT.name())" th:href="@{/turbine/approve/(id = ${package.alphaNumeric})}" class="btn btn-lg btn-block btn-primary">
                                    <i class="icon-check"></i> Approve
                                </a>
                                <hr class="invisible">
                                <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).REJECT_PRODUCT.name())" th:href="@{/turbine/reject/(id = ${package.alphaNumeric})}" class="btn btn-lg btn-block btn-primary">
                                    <i class="icon-times"></i> Disapprove
                                </a>
                                <hr class="invisible">
                                <a sec:authorize="hasAuthority(T(com.xelttsh.vms.commons.enums.security.AccessRight).DELETE_PRODUCT.name())" th:href="@{/turbine/delete/(id = ${package.alphaNumeric})}" class="btn btn-lg btn-block btn-danger">
                                    <i class="icon-trash"></i> Delete
                                </a>
<!--                                <hr class="invisible">-->
<!--                                <a href="#" class="btn btn-lg btn-block btn-primary">-->
<!--                                    <i class="icon-print"></i> Print-->
<!--                                </a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Right Sidebar -->
        <aside th:replace="main/general.html :: control-sidebar">
        </aside>
        <div class="control-sidebar-bg shadow white fixed"></div>
    </div>
</div>
</body>
</html>
<!--/#app -->
<script src="/js/app.js"></script>
<script type="text/javascript">

/*    Start updating gasket section */
    $("#updateGasketButton").click(function () {
        console.log("In update gasket button.");
        $("#gasketMakeInput").val($("#gasketMakeTd").html());
        $("#gasketSizeInput").val($("#gasketSizeTd").html());
        $("#gasketStyleInput").val($("#gasketStyleTd").html());

        $("#updateGasketModal").modal('show');
    })

    $("#saveGasketUpdate").click(function () {
        submit_gasket_update();
    })

    function submit_gasket_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/gasket",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                gasketSize: $("#gasketSizeInput").val(),
                gasketMake: $("#gasketMakeInput").val(),
                gasketStyle: $("#gasketStyleInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#gasketMakeTd").html($("#gasketMakeInput").val());
                $("#gasketSizeTd").html($("#gasketSizeInput").val());
                $("#gasketStyleTd").html($("#gasketStyleInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateGasketModal").modal('hide');
    }
    /*End Updating gasket section*/

/* Start of updating stuffing box */

$("#updateStuffingBoxButton").click(function () {
    console.log("In update stuffing box button.");
    $("#stuffingBoxDiameterInput").val($("#stuffingBoxDiameterTd").html());
    $("#stuffingBoxDepthInput").val($("#stuffingBoxDepthTd").html());

    $("#updateStuffingBoxModal").modal('show');
})

    $("#saveStuffingBoxUpdate").click(function () {
        submit_stuffing_box_update();
    })

    function submit_stuffing_box_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/staffingbox",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                stuffingBoxDiameter: $("#stuffingBoxDiameterInput").val(),
                stuffingBoxDepth: $("#stuffingBoxDepthInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#stuffingBoxDiameterTd").html($("#stuffingBoxDiameterInput").val());
                $("#stuffingBoxDepthTd").html($("#stuffingBoxDepthInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateStuffingBoxModal").modal('hide');
    }
    /*End of updating stuffing box*/

/* Start of updating spindle */

$("#updateSpindleButton").click(function () {
    console.log("In update spindle button.");
    $("#spindleLengthInput").val($("#spindleLengthTd").html());
    $("#sprindleDiameterInput").val($("#sprindleDiameterTd").html());

    $("#updateSpindleModal").modal('show');
})

    $("#saveSpindleUpdate").click(function () {
        submit_spindle_update();
    })

    function submit_spindle_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/spindle",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                spindleLength: $("#spindleLengthInput").val(),
                sprindleDiameter: $("#sprindleDiameterInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#spindleLengthTd").html($("#spindleLengthInput").val());
                $("#sprindleDiameterTd").html($("#sprindleDiameterInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateSpindleModal").modal('hide');
    }
    /*End of updating spindle*/


/* Start of updating spindle run out*/

$("#updateSpindleRunOutButton").click(function () {
    console.log("In update spindle run out button.");
    $("#sprindleRunOutBushIDInput").val($("#sprindleRunOutBushIDTd").html());
    $("#sprindleRunOutBushODInput").val($("#sprindleRunOutBushODTd").html());
    $("#sprindleRunOutBackStopInput").val($("#sprindleRunOutBackStopTd").html());

    $("#updateSpindleRunOutModal").modal('show');
})

    $("#saveSpindleRunOutUpdate").click(function () {
        submit_spindle_run_out_update();
    })

    function submit_spindle_run_out_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/spindlerunout",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                sprindleRunOutBushID: $("#sprindleRunOutBushIDInput").val(),
                sprindleRunOutBushOD: $("#sprindleRunOutBushODInput").val(),
                sprindleRunOutBackStop: $("#sprindleRunOutBackStopInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#sprindleRunOutBushIDTd").html($("#sprindleRunOutBushIDInput").val());
                $("#sprindleRunOutBushODTd").html($("#sprindleRunOutBushODInput").val());
                $("#sprindleRunOutBackStopTd").html($("#sprindleRunOutBackStopInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateSpindleRunOutModal").modal('hide');
    }
    /*End of updating spindle run out*/


/* Start of updating pressure gasket*/

$("#updatePressureGasketButton").click(function () {
    console.log("In update pressure gasket button.");
    $("#pressureGasketODInput").val($("#pressureGasketODTd").html());
    $("#pressureGasketIDInput").val($("#pressureGasketIDTd").html());
    $("#pressureGasketInternalTaperInput").val($("#pressureGasketInternalTaperTd").html());
    $("#pressureGasketExternalTaperInput").val($("#pressureGasketExternalTaperTd").html());

    $("#updatePressureGasketModal").modal('show');
})

    $("#savePressureGasketUpdate").click(function () {
        submit_pressure_gasket_update();
    })

    function submit_pressure_gasket_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/pressuregasket",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                pressureGasketOD: $("#pressureGasketODInput").val(),
                pressureGasketID: $("#pressureGasketIDInput").val(),
                pressureGasketInternalTaper: $("#pressureGasketInternalTaperInput").val(),
                pressureGasketExternalTaper: $("#pressureGasketExternalTaperInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#pressureGasketODTd").html($("#pressureGasketODInput").val());
                $("#pressureGasketIDTd").html($("#pressureGasketIDInput").val());
                $("#pressureGasketInternalTaperTd").html($("#pressureGasketInternalTaperInput").val());
                $("#pressureGasketExternalTaperTd").html($("#pressureGasketExternalTaperInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updatePressureGasketModal").modal('hide');
    }
    /*End of updating pressure gasket*/


/* Start of updating gland packaging*/

$("#updateGlandPackagingButton").click(function () {
    console.log("In update gland packaging button.");
    $("#glandPackagingSizeInput").val($("#glandPackagingSizeTd").html());
    $("#glandPackagingStyleInput").val($("#glandPackagingStyleTd").html());
    $("#glandPackagingMakeInput").val($("#glandPackagingMakeTd").html());

    $("#updateGlandPackagingModal").modal('show');
})

    $("#saveGlandPackagingUpdate").click(function () {
        submit_gland_packaging_update();
    })

    function submit_gland_packaging_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/glandpackaging",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                glandPackagingSize: $("#glandPackagingSizeInput").val(),
                glandPackagingStyle: $("#glandPackagingStyleInput").val(),
                glandPackagingMake: $("#glandPackagingMakeInput").val(),
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#glandPackagingSizeTd").html($("#glandPackagingSizeInput").val());
                $("#glandPackagingStyleTd").html($("#glandPackagingStyleInput").val());
                $("#glandPackagingMakeTd").html($("#glandPackagingMakeInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateGlandPackagingModal").modal('hide');
    }
    /*End of updating gland packaging*/

/* Start of updating general */

$("#updateGeneralButton").click(function () {
    console.log("In update general button.");
    $("#kksNoInput").val($("#kksNoTd").html());
    $("#kksNoInput").siblings('label').addClass('active');
    $("#serviceInput").val($("#serviceTd").html());
    $("#serviceInput").trigger("change");
    $("#systemInput").val($("#systemTd").html());
    $("#systemInput").change();
    $("#drawingNumberInput").val($("#drawingNumberTd").html()).trigger("change");
    $("#pnInput").val($("#pnTd").html()).trigger("change");
    $("#nbInput").val($("#nbTd").html()).trigger("change");

    $("#updateGeneralModal").modal('show');
})

    $("#saveGeneralUpdate").click(function () {
        submit_general_update();
    })

    function submit_general_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/general",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                kksNo: $("#kksNoInput").val(),
                service: $("#serviceInput").val(),
                system: $("#systemInput").val(),
                drawingNumber: $("#drawingNumberInput").val(),
                pn: $("#pnInput").val(),
                nb: $("#nbInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#kksNoTd").html($("#kksNoInput").val());
                $("#systemTd").html($("#systemInput").val());
                $("#serviceTd").html($("#serviceInput").val());
                $("#drawingNumberTd").html($("#drawingNumberInput").val());
                $("#pnTd").html($("#pnInput").val());
                $("#nbTd").html($("#nbInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateGeneralModal").modal('hide');
    }
    /*End of updating general*/

/* Start of updating specific */

$("#updateSpecificButton").click(function () {
    console.log("In update specific button.");
    $("#designPressureInput").val($("#designPressureTd").html());
    $("#designTemperatureInput").val($("#designTemperatureTd").html());
    $("#materialInput").val($("#materialTd").html());
    $("#driveInput").val($("#driveTd").html());
    $("#connectionsInput").val($("#connectionsTd").html());
    $("#makeInput").val($("#makeTd").html());
    $("#sowInput").val($("#sowTd").html());
    $("#valveQuantityInput").val($("#valveQuantityTd").html());

    $("#updateSpecificModal").modal('show');
})

    $("#saveSpecificUpdate").click(function () {
        submit_specific_update();
    })

    function submit_specific_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/specific",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                designPressure: $("#designPressureInput").val(),
                designTemperature: $("#designTemperatureInput").val(),
                material: $("#materialInput").val(),
                drive: $("#driveInput").val(),
                connections: $("#connectionsInput").val(),
                make: $("#makeInput").val(),
                valveQuantity: $("#valveQuantityInput").val(),
                sow: $("#sowInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#designPressureTd").html($("#designPressureInput").val());
                $("#designTemperatureTd").html($("#designTemperatureInput").val());
                $("#materialTd").html($("#materialInput").val());
                $("#driveTd").html($("#driveInput").val());
                $("#connectionsTd").html($("#connectionsInput").val());
                $("#makeTd").html($("#makeInput").val());
                $("#valveQuantityTd").html($("#valveQuantityInput").val());
                $("#sowTd").html($("#sowInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateSpecificModal").modal('hide');
    }
    /*End of updating specific*/

/* Start of updating summation */

$("#updateSummationButton").click(function () {
    console.log("In update summation button.");
    $("#rateInput").val($("#rateTd").html());
    $("#amountInput").val($("#amountTd").html());
    $("#subTotalsInput").val($("#subTotalsTd").html());
    $("#commentsInput").val($("#commentsTd").html());
    $("#descriptionInput").val($("#descriptionTd").html());

    $("#updateSummationModal").modal('show');
})

    $("#saveSummationUpdate").click(function () {
        submit_summation_update();
    })

    function submit_summation_update() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/package/update/summation",
            data: {
                alphaNumeric: $("#alphaNumericSpan").html(),
                rate: $("#rateInput").val(),
                amount: $("#amountInput").val(),
                subTotals: $("#subTotalsInput").val(),
                comments: $("#commentsInput").val(),
                description: $("#descriptionInput").val()
            },
            dataType: 'json',
            cache: false,
            timeout: 600000,
            success: function (data) {

                console.log("SUCCESS : ", data);


                $("#rateTd").html($("#rateInput").val());
                $("#amountTd").html($("#amountInput").val());
                // $("#subTotalsTd").html($("#subTotalsInput").val());
                $("#commentsTd").html($("#commentsInput").val());
                $("#descriptionTd").html($("#descriptionInput").val());

            },
            error: function (e) {
                console.log("ERROR : ", e);

            }
        });

        $("#updateSummationModal").modal('hide');
    }
    /*End of updating summation*/
</script>

